@charset "utf-8";
/* CSS Document */
 
 .bg_sou{ width:100%; float:left; text-align:center; background-color:#f3f3f3;line-height: 68px; font-size:13px; color:#696969; font-weight: 600;
}
 
.phAnimate {
  position: relative;
  padding-top: 20px;
  margin-bottom: 0px;

}


.phAnimate input { padding-left: 15px; }

.phAnimate label {
  cursor: text;
  margin: 0;
  padding: 0;
left: 13px;
top: 30px;
  position: absolute;
  font-size: 14px;
  color: #ccc;
  font-weight: normal;
  transition: all 0.3s ease;
}

.phAnimate label.active {
  top: 0;
  left: 0;
  font-size: 12px;
}

.phAnimate label.active.focusIn { color: #66afe9; }

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */

.main-head_border { background:#ffffff;
    border: 2px solid #d2cece;
    margin-bottom: 2%;
   margin-right: 20%;
   margin-left: 20%;
    box-shadow:0 0px 6px 0 rgba(0,0,0,0.2);
	    margin-top:8%;
		border-radius:5px;


}
.student{ margin-top:17px; width:100%; float:left; margin-left:15px;}
.student img{ width:100%;}
.logo_student{ margin-top:25px;}
.main-head_second {
    border: 2px solid #d2cece;
    margin-bottom: 2%;
margin-right: 14%;
margin-left: 14%;

    box-shadow:0 0px 6px 0 rgba(0,0,0,0.2);
	    margin-top:4%;
		border-radius:5px;
		min-height:424px;

}



.center_divine_right {
    width: 79%;
    float: left;
    margin:65px 31px 48px 51px;
}
ul.breadcrumb li {
    font-weight: bold;
}
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
}
.page-body {
    width: 1042px;
    margin-left: 135px;
}
ul.breadcrumb li {
    display: inline;
	font-family: open_sansregular !important;
}
ul.breadcrumb li a {
    color: #000000;
    font-weight: normal;
}
.breadcrumb > li + li::before { display:none !important;}
.if_center{ text-align:center;}
.center_divine_ragistration{    width: 79%;
    float: left;
    margin:152px 55px 48px 55px;}
	
.center_divine_otp{    width: 79%;
    float: left;
    margin:152px 55px 48px 55px;}	
	
	


 .mange_minhei{min-height: 305px; float:left; width:100%;}
 .mange_minhei .col-md-6{min-height: 351px;}
 .center_divine{width:75%;
float: left;
 margin:74px 36px 44px 60px;}
.center_diwind{width:85%;
float: left;
}
.mang_aligment{margin: 55px 0px 0px 0px;
}
.center_divine h3{ margin-bottom:0px; margin-top:0px;}
h3:after{ background:none !important;}
.btn_log_orng{ margin-top:15px; height: 39px; border:none !important; font-weight:500; font-size:18px; border-radius:0px !important; width:100%; float:left; background-color:#003456 ; color:#ffffff; text-transform:capitalize;}

.btn_log_sub{ margin-top:15px; height: 39px; border:none !important; font-weight:500; font-size:18px; border-radius:0px !important; width:100%; float:left; background-color:#f23c0d; color:#ffffff; text-transform:capitalize;}
.btn_log_verify{ margin-top:13px; height: 39px; border:none !important; font-weight:500; font-size:18px; border-radius:0px !important; width:100%; float:left; background-color:#f23c0d; color:#ffffff; text-transform:capitalize;}


.btn_log_skip{ width:15%; margin-top:13px; height: 39px; border:none !important; font-weight:500; font-size:18px; border-radius:0px !important;  display:inline-block; background-color:#f23c0d; color:#ffffff; text-transform:capitalize;}

.age_side{ width: 58%; float:none !important; clear:both; display:block;position:relative;}

.age_sno::before{content: "/";
position: absolute;
left: -28px;
line-height: 40px;
height: 51px;
font-size: 30px; color:#bfbdbe; font-weight:500;}
.cner_birth{ width:100%; }
.age_sno{position: absolute;
top: 0px;
left: 287px;
width: 20%;
text-align: center;}
.fa-star{ color:#FF0000; font-size:5px; position:absolute;left: 51px;
top: 33px; z-index:99999;}
.city_star{left: 43px !important;}
.localityss{left: 66px;}
.pincode{ position:relative;}

.pin_star{top: 2px;left: 52px !important;}
.center_ntt{ width:100%; float:left; text-align:center; margin-bottom:40px; margin-top:40px;}
.btn_log_vsu{ margin-left:15px; width:15%; margin-top:13px; height: 39px; border:none !important; font-weight:500; font-size:18px; border-radius:0px !important;  display:inline-block;background-color:#f23c0d; color:#ffffff; text-transform:capitalize;}

.usr_radius{width: 100%;
border: 1px solid #ddd; border-radius:0px !important; border-color:#e4e3e3 !important; height:40px; }

.usr_radius_res{width: 100%;
border: 1px solid #ddd; border-radius:0px !important; border-color:#e4e3e3 !important; height:40px; }
.if_contat{color: #7B7878;
font-size: 13px;
font-weight: 600;margin-bottom: 18px;}

.or_center{ width:100%;font-weight: 600; float:left; text-align:center; font-size:14px;margin: 14px 0; color:#7B7878; text-transform:uppercase;}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; font-size:10px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 15px;
	  top: 1px;
      left: 0;
      margin-left: -20px;
      border: 2px solid #b5b3b4;
      border-radius: 5px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }
.labe_anim{ color:#a5a3a3 !important; font-size: 12px;
font-weight: 500;}

.right_border{ border-right:1px solid #c8c8c8;}
.bt_black{ width:100%; float:left; text-align:center;}
.bt_black a{text-transform: uppercase;
font-weight: 600;
display: inline-block;
text-decoration: none;
background: #333333;
color: #ffffff;
width: 100%;
line-height: 38px;
font-size: 12px;}

.login_fbb{ width:100%; float:left;margin-bottom: 13px;}
.google_log{width:100%; float:left;}
.bg_sou a{color:#696969;}
.login_fbb a{font-family: 'Roboto', sans-serif; padding-left: 57px;
padding-top: 8px;
padding-bottom: 8px; background:#3c589e; color:#ffffff; text-transform:uppercase; width:100%; float:left; font-size:11px;  font-weight:600;}
.login_fbb a span{ font-weight: bold;
margin-left: 14px;
font-size: 18px;
text-transform: lowercase;}
.google_log a:hover{ text-decoration:none !important;}
.login_fbb a:hover{ text-decoration:none !important;}


.google_log a{font-family: 'Roboto', sans-serif; padding-left: 57px;
padding-top: 8px;
padding-bottom: 8px; background:#dd4d40; color:#ffffff; text-transform:uppercase; width:100%; float:left; font-size:11px;  font-weight:600;}
.google_log a span{ font-weight: bold;
margin-left: 14px;
font-size: 18px;
text-transform: uppercase;}

/*otp start*/
.we_prad{width:100%; float:left; font-weight:500; font-size:15px; color:#333333;}
.contact_nmf{ width:100%; float:left;font-weight:600; font-size:14px; color:#333333;}
.otp_text{   margin-top:6px; width:100%; color:#acaaab; font-size:13px;}
.left_yett{margin-top: 6px; width:100%; float:left;}
.left_yett p{ float:left; font-size:14px; color:#3333333;}
.left_yett a{ float:right; font-size:12px; color:#f23c0d; line-height:22px;}
/*family werar*/

.family_wera{ width:100%; float:left;}
.heading_namef{ margin-bottom:10px; width:100%; float:left; text-align:left; color:#a3a1a2; font-size:16px;}
.family_wera h3{ float:left; width:100%;}
.family_wera h3::after{ display:none !important;}
.mange_minhei h3::after{ display:none !important;}
#sel1{width: 100%; position:relative;
border: 1px solid #ddd;
border-radius: 0px !important;
border-color: #e4e3e3 !important; height:40px; color: #a5a3a3 !important;}

/*media query start*/
@media only screen and (max-width: 1275px) {
.main-head_border{min-height: 431px;}
}

@media only screen and (max-width: 1200px) {.login_fbb a{padding-left:20px; text-align:center;}
.google_log a{padding-left:20px; text-align:center;}}



@media only screen and (max-width: 999px) {.login_fbb a{text-align: center;}
.google_log a{text-align: center;}}

@media only screen and (max-width: 1000px) {
.main-head_border {
    margin-right: 16%;
    margin-left: 16%;
	min-height: 570px;
	float:left;
}
.right_border{ border:none;}
.center_divine{ width:100%; margin-left:0px; margin-right:0px;}
.center_divine_right{ width:100%; margin-left:0px; margin-right:0px; margin-top:0px;  margin-bottom:10px;}
.center_divine{ margin-bottom:10px;}
.mange_minhei .col-md-6{ min-height:inherit;}


}

@media only screen and (max-width: 500px) {

.main-head_border {
    margin-right: 0%;
    margin-left: 0%;
	min-height: 570px;
	float:left;
}
.bg_sou{ line-height:20px;}

.center_divine_ragistration{ width:100%; margin-left:0px; margin-right:0px; margin-top:0px;}
.center_divine_otp{ width:100%; margin-left:0px; margin-right:0px; margin-top:0px;}
.phAnimate label{ font-size:12px;}
.main-head_second{ margin:0px;}

}


